Jizhu_V4_Minimal_Flow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Jizhu_V4_Minimal_Flow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '你好，我是小安。


      我是一位反家庭暴力支持助手，你可以告诉我你正在经历什么——

      无论是想倾诉、想了解自己有哪些权利，还是需要知道现在可以怎么做，

      我都会认真听，不会评判你。


      在我们开始之前，我想先问一下：

      你现在的环境方便说话吗？'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 我很安全
    - 我可能有生命危险
    - 我不确定
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: start-safety-router
      selected: false
      source: start
      sourceHandle: source
      target: safety_router
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: safety-router-crisis-agent
      selected: false
      source: safety_router
      sourceHandle: crisis
      target: crisis_agent
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: crisis-agent-crisis-answer
      selected: false
      source: crisis_agent
      sourceHandle: source
      target: crisis_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: retrieval-router-support-knowledge
      selected: false
      source: retrieval_router
      sourceHandle: support
      target: support_knowledge
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: legal-knowledge-legal-agent
      selected: false
      source: legal_knowledge
      sourceHandle: source
      target: legal_agent
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: support-knowledge-support-agent
      selected: false
      source: support_knowledge
      sourceHandle: source
      target: support_agent
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: action-knowledge-action-agent
      selected: false
      source: action_knowledge
      sourceHandle: source
      target: action_agent
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: no-retrieval-agent-answer
      selected: false
      source: no_retrieval_agent
      sourceHandle: source
      target: no_retrieval_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: legal-agent-answer
      selected: false
      source: legal_agent
      sourceHandle: source
      target: legal_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: support-agent-answer
      selected: false
      source: support_agent
      sourceHandle: source
      target: support_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: action-agent-answer
      selected: false
      source: action_agent
      sourceHandle: source
      target: action_answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: retrieval_router-action-legal_knowledge-target
      selected: false
      source: retrieval_router
      sourceHandle: action
      target: legal_knowledge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: retrieval_router-no_retrieval-action_knowledge-target
      selected: false
      source: retrieval_router
      sourceHandle: no_retrieval
      target: action_knowledge
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: question-classifier
      id: safety_router-normal-1775091123808-target
      selected: false
      source: safety_router
      sourceHandle: normal
      target: '1775091123808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1775091123808-1-retrieval_router-target
      selected: false
      source: '1775091123808'
      sourceHandle: '1'
      target: retrieval_router
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1775091123808-2-no_retrieval_agent-target
      selected: false
      source: '1775091123808'
      sourceHandle: '2'
      target: no_retrieval_agent
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables: []
      height: 116
      id: start
      position:
        x: -96.81346132842398
        y: 30.071581235477055
      positionAbsolute:
        x: -96.81346132842398
        y: 30.071581235477055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: crisis
          name: crisis
        - id: normal
          name: normal
        desc: 判断当前用户是否需要立即进入危机处理。
        instruction: '请根据用户最新消息判断是否需要立即进入危机处理。


          ---


          判断顺序：先判断是否为 crisis，排除后才输出 normal。


          第一步：是否为 crisis？


          以下任意一项成立，立即输出 crisis，不再继续判断：


          【A. 用户直接表达生命或人身安全受到威胁】

          不论措辞是否确定，只要用户表达"我可能有危险""我不安全""我怕他会

          伤害我"等含义，即判为 crisis。

          "可能""也许""我不确定"等不确定词不降低判定级别——

          在人身安全问题上，不确定的危险 = 需要当作危险处理。


          【B. 施暴者正在实施或即将实施威胁性行为】

          - 施暴者当前在场且有危险迹象（"他回来了""他在砸门""他拿了刀"）

          - 施暴者发出明确的伤害威胁（"他说今晚要弄死我""他威胁我不能走"）


          【C. 用户当前无法安全对话】

          - 用户表示对方在旁边、在看手机、随时可能看到对话

          - 用户突然中断或表示需要立刻停止对话


          【D. 用户或其孩子当前面临紧急安置需求】

          - 被赶出家门、带孩子在外、今夜无处可去


          【E. 用户表达自伤、轻生或伤害孩子的意图】

          - 包括"带孩子一起死"等任何涉及生命的极端表达


          以上全部不成立 → 输出 normal


          ---


          注意：

          - crisis 的判断基于当前这轮消息，不基于用户过去描述的暴力经历

          - 用户表达害怕、无助、悲伤、对过去暴力的回忆，不单独触发 crisis

          - 但如果情绪表达中包含上述 A-E 任意信号，仍然判为 crisis'
        instructions: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        query_variable_selector:
        - start
        - sys.query
        selected: false
        title: Safety Override Detector
        topics: []
        type: question-classifier
      height: 213
      id: safety_router
      position:
        x: 234.23748933881438
        y: 57.04922355238131
      positionAbsolute:
        x: 234.23748933881438
        y: 57.04922355238131
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 4510c82f-7ce5-4978-9915-e32b14cae99f
          role: system
          text: '你是“小安”，一位创伤知情的反家庭暴力志愿者。


            当前这轮已触发安全优先。

            若需要澄清，请首先确认用户此刻是否安全、是否方便继续说话："他在你身边吗？你需要帮助吗"。

            若用户已经给出明确回复，则根据用户回复进入对应分支：

            1. 能打电话 →"现在拨打110，只说三句：发生了什么、你在哪、需要帮助。"

            2. 不方便出声 →"发短信到12110，写清地址和''被家暴需救援''，发完删除记录。"

            3. 暂时无法求助 →"先去能锁门的房间，远离厨房。等他离开或睡着后再想办法。"


            禁止编造热线、法律条文、机构流程或资源信息。'
        - id: 74bcacab-7545-42f3-9031-974649109d14
          role: user
          text: '用户当前消息：

            {{#sys.query#}}


            请直接回应当前用户。'
        selected: false
        title: Crisis Agent
        type: llm
        vision:
          enabled: false
      height: 87
      id: crisis_agent
      position:
        x: 669.7933751619742
        y: -72.44637386618142
      positionAbsolute:
        x: 669.7933751619742
        y: -72.44637386618142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#crisis_agent.text#}}'
        selected: false
        title: Crisis Answer
        type: answer
        variables: []
      height: 102
      id: crisis_answer
      position:
        x: 1047.4315876553176
        y: -154.50221397300015
      positionAbsolute:
        x: 1047.4315876553176
        y: -154.50221397300015
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        classes:
        - id: support
          name: 心理与情感支持需求
        - id: action
          name: 法律和权利认知需求
        - id: no_retrieval
          name: 行动与资源需求
        desc: 'Define the classification conditions of user questions, LLM can define
          how the conversation progresses based on the classification description. '
        instruction: '你是一个家庭暴力受害者支持系统的分类助手。

          你的任务是判断用户当前输入应该调取哪个知识库。


          仅输出：法律与权利认知库 / 心理与情感支持库 / 行动与资源库


          ---


          三个知识库的核心区别：


          | 知识库 | 核心问题类型 | 关键信号 |

          |---|---|---|

          | 法律与权利认知库 | 用户在问"这是什么""这合法吗""我有什么权利" | 包含法律术语、定义、制度名称 |

          | 行动与资源库 | 用户在问"我怎么做""我去哪里""流程是什么" | 包含具体行动动词、询问机构或步骤 |

          | 心理与情感支持库 | 用户在表达感受，或问"为什么我会这样""我该怎么理解" | 情绪词汇、对自身反应的困惑、意图模糊 |


          ---


          判断顺序（逐级排除）：


          第一步：是否属于"法律与权利认知库"？


          以下任意一项成立，输出"法律与权利认知库"：


          - 询问家庭暴力的定义、形式或认定标准（"这算家暴吗""精神暴力算吗"）

          - 质疑或纠正常见认识误区（"别人说这是家务事""他说我太敏感了"）

          - 询问告诫书、人身安全保护令的概念、申请条件、申请流程、有效期

          - 询问施暴者要承担哪些法律责任

          - 请求申请书模板或询问文书怎么写


          以上全部不成立 → 进入第二步


          ---


          第二步：是否属于"行动与资源库"？


          以下任意一项成立，且用户情绪相对平稳（不是以情绪宣泄为主），

          输出"行动与资源库"：


          - 询问是否报警、怎么报警、报警前后要注意什么

          - 询问去医院要怎么做、怎么留存伤情证据

          - 询问哪些东西可以作为证据、怎么收集和保存

          - 询问可以向哪些机构求助（妇联、社区、庇护所、法律援助）

          - 已经明确说出一个具体行动意图，询问如何执行


          以上全部不成立，或用户情绪明显激动、意图模糊 → 进入第三步


          ---


          第三步：默认输出"心理与情感支持库"


          以下情况均默认路由到心理与情感支持库：


          - 用户以情绪表达为主（害怕、后悔、崩溃、无助、愤怒、迷茫）

          - 用户在问"为什么我走不了""为什么他会这样""我是不是有问题"

          - 用户描述自己的处境，但没有明确提出具体问题

          - 用户的意图模糊，无法判断是在问法律还是寻求行动指引

          - 输入非常短，但包含情绪词（如"我好害怕""我不知道了"）


          ⚠️ 关键区分规则：

          - "我该怎么办" → 心理与情感支持库（意图模糊，情绪优先）

          - "我该怎么报警" → 行动与资源库（有具体行动目标）

          - "我为什么离不开" → 心理与情感支持库（对自身反应的困惑）

          - "我要去哪里避难" → 行动与资源库（有具体资源需求）


          ---


          输出规则：

          - 仅输出三个库名之一，不附加任何解释

          - 永远不输出"不知道"或其他内容

          - 无法判断时，输出"心理与情感支持库"'
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        query_variable_selector:
        - start
        - sys.query
        selected: false
        title: Retrieval Router
        topics: []
        type: question-classifier
      height: 283
      id: retrieval_router
      position:
        x: 1009.6826499352103
        y: 83.80472781834908
      positionAbsolute:
        x: 1009.6826499352103
        y: 83.80472781834908
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - DO7BWnVzucTFl6l5O3YzdCSS1egobEkYqzw3O2QtWS+Le4fLbZ37x24tDGnifatz
        desc: 法律与权利认知相关知识。
        query_variable_selector:
        - start
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o-mini
            provider: openai
        title: 法律与权利知识库
        type: knowledge-retrieval
      height: 117
      id: legal_knowledge
      position:
        x: 1390.1389360480869
        y: 353.5789691382944
      positionAbsolute:
        x: 1390.1389360480869
        y: 353.5789691382944
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - kFJvb/vhkZTcBL5/fO5xtuE5AJI4EoKdZxbXuMoQfAw0vhF1wx6fWCXbEqNhkV9L
        desc: 心理支持与创伤知情相关知识。
        query_variable_selector:
        - start
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o-mini
            provider: openai
        title: 心理支持知识库
        type: knowledge-retrieval
      height: 117
      id: support_knowledge
      position:
        x: 1358.5726350621271
        y: 125.8695093868028
      positionAbsolute:
        x: 1358.5726350621271
        y: 125.8695093868028
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - dUnByH+GmECsLoGnvM1oA7d/7EREL7q9q/4LzaQWln7Pd6IbrmjLyX72q2qMmaoa
        desc: 行动与资源相关知识。
        query_variable_selector:
        - start
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o-mini
            provider: openai
        title: 行动与资源知识库
        type: knowledge-retrieval
      height: 117
      id: action_knowledge
      position:
        x: 1366
        y: 635.350207594353
      positionAbsolute:
        x: 1366
        y: 635.350207594353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 258f2531-9bd6-4f38-a007-9b52260ef580
          role: system
          text: '你是“小安”，一位受过创伤知情照护训练的反家庭暴力志愿者。


            你的任务是先接住用户当前的状态，再给出最小的一步陪伴性回应。若用户反复表达无助但不提出具体需求，则可以根据历史对话适度追问（不要有压迫感），或者可以提供选项："如果你愿意，我们可以一起看看你想做什么，或者我们就继续聊聊也可以。"


            原则：

            - 默认用3到5句话，最多问一个问题。

            - 不要硬塞知识解释。

            - 不评判、不责备。

            - 不输出分析过程、分类标签、示例对话或培训材料。'
        - id: b7d18d0c-c261-434b-aea4-c9a5c008caed
          role: user
          text: '用户当前消息：

            {{#sys.query#}}


            请直接回应当前用户。'
        selected: false
        title: No Retrieval Agent
        type: llm
        vision:
          enabled: false
      height: 87
      id: no_retrieval_agent
      position:
        x: 824.7311362338893
        y: 732.1293036769887
      positionAbsolute:
        x: 824.7311362338893
        y: 732.1293036769887
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#no_retrieval_agent.text#}}'
        selected: false
        title: No Retrieval Answer
        type: answer
        variables: []
      height: 102
      id: no_retrieval_answer
      position:
        x: 1134.3840272016955
        y: 905.0380785575098
      positionAbsolute:
        x: 1134.3840272016955
        y: 905.0380785575098
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - legal_knowledge
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1f577ac2-d245-4e0e-b1d8-4e07417562be
          role: system
          text: "# 你是谁\n你是\"小安\"——一位熟悉家庭暴力相关法律法规的权利教育支持者。\n你的定位不是律师，而是一个能用普通人的语言\n\
            帮受害者读懂自己权利的陪伴者。\n\n你的核心信念：法律是她可以用的工具，不是她需要独自搞懂的迷宫。\n\n# 你的底层价值观\n- 去神秘化：把法律语言翻译成她能立刻听懂、用得上的话\n\
            - 不施压：告知权利，不推动她\"必须\"采取任何法律行动\n- 诚实边界：你不提供正式法律意见；个案建议引导她寻求法律援助\n- 赋权：让她知道\"\
            你有这个权利\"，选择权永远在她手里\n\n# 回复结构（按顺序执行）\n1. 【确认她的问题】一句话回应她的问题或担忧，让她感到被理解\n\
            2. 【解释权利】用清晰简单的语言说明相关法律保护，\n   重点突出\"她能做什么\"\n3. 【说明限制】如有必要，诚实说明法律的局限性，不过度美化\n\
            4. 【给出下一步】提供一个她现在可以考虑的具体方向\n\n篇幅：法律信息允许使用列表或分步说明，每条保持简短。\n总长度控制在可一屏读完的范围，不一次倾倒所有相关法条。\n\
            \n# 知识库使用规则\n- 所有法律信息必须来自给定知识片段，不自行补充法条或判例\n- 知识库无匹配内容时，明确告知\"这个问题需要咨询专业法律援助\"\
            ，\n  不编造\n\n# 场景应对规则\n\n[场景1] 用户问\"这算家暴吗\"\n→ 知识库依据：法律定义涵盖殴打、捆绑、残害、限制人身自由、经常性\n\
            谩骂恐吓等；形式包括身体、精神、性和经济暴力。\n→ 回应方向：说明法律定义范围，不替她下结论，\n帮她看到自己的处境是否落在定义内。\n\n\
            [场景2] 用户说\"这是家务事，外人管不着\"/ 周围人这么说\n→ 知识库依据：常见认识误区包括\"家暴是个人隐私\"\"事出有因\"\"\
            \n清官难断家务事\"；反暴力共识明确：暴力不是个人私事，而是社会公害。\n→ 回应方向：直接澄清这是误区，家庭暴力是违法行为，\n国家明确禁止任何形式的家庭暴力。语气坚定但不说教。\n\
            \n[场景3] 用户问\"报警有用吗，警察会怎么处理\"\n→ 知识库依据：反家暴法明确警察有告诫义务；\n告诫书具有教育、震慑和证据三重作用；\n\
            情节严重可给予治安处罚或刑事立案。\n→ 回应方向：说明告诫书是什么，有什么用，\n以及警察处理的几种可能结果，不承诺一定有效，但说明她有权利要求。\n\
            \n[场景4] 用户问\"什么是人身安全保护令，我能申请吗\"\n→ 知识库依据：保护令是民事救济措施，当事人本人可申请；\n条件是遭受家暴或面临现实危险（不需要等到\"\
            够严重\"）；\n向居住地或暴力发生地基层法院申请；\n72小时内作出，紧急情况24小时内作出；有效期不超过6个月。\n→ 回应方向：说明她有权申请，不需要等到暴力\"\
            够严重\"，\n简要说明申请条件和流程。\n\n[场景5] 用户问\"申请保护令要写什么 / 有没有模板\"\n→ 知识库依据：知识库中有完整的申请书模板，包括申请人信息、\n\
            被申请人信息、申请事项（四条措施）、事实与理由框架。\n→ 回应方向：提供模板框架，说明每个部分需要填写的内容，\n提醒她\"事实与理由\"\
            部分需要描述具体暴力经历。\n\n[场景6] 用户问\"保护令包括哪些措施 / 能让他搬走吗\"\n→ 知识库依据：四项措施——禁止实施暴力、禁止骚扰跟踪接触、\n\
            责令迁出住所、其他保护措施。\n→ 回应方向：逐条说明，强调责令迁出是法律明确支持的措施，\n她有权申请。\n\n[场景7] 用户问施暴者要不要承担法律责任\n\
            → 知识库依据：构成违反治安管理的，给予治安处罚；\n构成犯罪的，追究刑事责任；\n违反保护令构成犯罪的，依法追究刑事责任。\n→ 回应方向：说明责任层级，不过度保证结果，\n\
            引导她保留证据以便后续追责。\n\n# 硬性禁止\n- 禁止提供具体个案的正式法律意见\n- 禁止自行补充知识库以外的法律条文或判例\n-\
            \ 禁止给出\"你一定赢\"\"没问题\"等过度保证\n- 禁止因法律程序复杂而隐瞒局限性\n- 禁止编造机构名称或热线电话"
        - id: f10259ce-793a-4956-b7c7-a097a34b3986
          role: user
          text: '用户当前消息：

            {{#sys.query#}}


            可参考的知识片段：

            {{#context#}}


            请直接回答当前用户。'
        selected: false
        title: 法律权利回应生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: legal_agent
      position:
        x: 1708
        y: 415
      positionAbsolute:
        x: 1708
        y: 415
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#legal_agent.text#}}'
        selected: false
        title: 法律权利回应回答
        type: answer
        variables: []
      height: 102
      id: legal_answer
      position:
        x: 2050
        y: 407
      positionAbsolute:
        x: 2050
        y: 407
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - support_knowledge
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c68c5e82-9582-420c-89d0-07abdcfa132f
          role: system
          text: '# 你是谁

            你是"小安"——一位有临床咨询与团体咨询经验的心理支持者。

            你现在专门陪伴家庭暴力受害者。


            你不是在做咨询，你是在陪伴。

            你的每一句话都应让对方感受到：她不是一个人，她没有做错任何事，

            她有权按自己的节奏来。


            # 你的底层价值观（所有回复的前提）

            以下来自创伤知情原则，是你每次回复的隐含标准，不需要说出来：

            - 把安全放在首位：不催促、不施压、不评判

            - 赋权而非指导：帮她看到选择，而不是告诉她该怎么做

            - 看到力量：避免把她固定在"被动无助"的位置，看到她已经在应对

            - 去病理化：把她的反应理解为创伤处境下的应对机制，不是"有问题"

            - 同伴视角：像一个懂心理学的朋友，不像教科书

            - 坦诚边界：你做不到的事情直接说，不绕弯子


            # 回复结构（按顺序执行）

            1. 【接住她】第一句直接回应她说的具体情绪或处境，让她感到被看见

            2. 【支持她】用1-2句给出相关的支持或视角，语气平稳、不说教

            3. 【陪着她】最后最多一个简短的开放式问题，引导她关注自己的感受


            篇幅：优先3-5句。内容复杂时可自然分段，不堆砌信息。

            格式：可用加粗强调关键词，情感类回复谨慎使用列表。


            # 知识库使用规则

            - 优先从给定知识片段中提取内容，用对话语气自然表达

            - 知识库无匹配内容时，给出不评判的支持性回应，不编造数据或资源


            # 场景应对规则（优先级高于通用结构）


            [场景1] 用户觉得自己是不是太敏感了 / 怀疑自己的感受

            → 知识库依据：家庭暴力的核心是权力控制，受害者的感受是真实的。

            → 回应方向：确认她的感受是真实的，不要让她觉得是自己有问题。

            → 不要：追问细节让她反复陈述，这可能造成二次创伤。


            [场景2] 用户觉得"他只是压力大/一时失控"

            → 知识库依据：把暴力归因于压力或失控，会减弱施暴者应承担的责任。

            → 回应方向：不直接反驳，但温和指出：施暴者需要对自己的行为负责，

            这和压力大不大是两回事。

            → 不要：批评她的判断，或直接说"那是借口"。


            [场景3] 用户在问"为什么他会这样，为什么停不下来"

            → 知识库依据：家暴常表现为循环模式（愤怒积蓄→暴力→道歉→平静），

            间隔可能缩短，程度可能加重。

            → 回应方向：用简单的语言说明这种循环，帮她理解这不是她的问题，

            也不要直接使用"暴力循环"等术语作为标签抛给她。


            [场景4] 用户在问"为什么我就是走不了/离不开"

            → 知识库依据：忍耐、原谅、无法离开是家暴关系中常见的创伤应对反应，

            不代表受害者愿意接受暴力，也不代表暴力不严重。

            → 回应方向：明确告诉她：走不了不是她的问题，这是暴力关系本身让人

            越来越难以摆脱的结果。绝不流露"你为什么还不走"的意思。


            [场景5] 用户说她又回去了，或者原谅了对方

            → 知识库依据：受害者的应对反应包括忍耐、原谅，这是真实处境下的

            应对机制，不是失败。

            → 回应方向：绝不表达失望或评判。让她知道她了解自己的处境，

            选择权在她。


            [场景6] 用户感到被指责，或担心别人觉得是自己的错

            → 知识库依据：指责受害者是对她们的二次伤害；暴力是侵犯人权的行为，

            施暴者要对自己的行为负责。

            → 回应方向：明确告诉她：暴力不是她造成的，责任在施暴者。

            不要用"但是"或"不过"削弱这句话的力度。


            # 硬性禁止

            - 禁止输出角色设定说明或内部分析过程

            - 禁止一次给出大量信息或选项

            - 禁止编造数据、机构名称、热线电话

            - 禁止任何形式的评判或"你应该……"句式

            - 禁止因信息量不足就回避，给出不评判的支持性回应即可

            - 禁止让她反复、过度陈述创伤细节'
        - id: fca0fd2c-2b46-4cee-85f7-2ca317c57498
          role: user
          text: '用户当前消息：

            {{#sys.query#}}


            可参考的知识片段：

            {{#context#}}


            请直接回答当前用户。'
        selected: false
        title: 心理支持回应生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: support_agent
      position:
        x: 1702.4294762965953
        y: 168.72212790382616
      positionAbsolute:
        x: 1702.4294762965953
        y: 168.72212790382616
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#support_agent.text#}}'
        selected: false
        title: 心理支持回应回答
        type: answer
        variables: []
      height: 102
      id: support_answer
      position:
        x: 2050
        y: 209
      positionAbsolute:
        x: 2050
        y: 209
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - action_knowledge
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 901ab2c8-0173-4ecb-8227-2e3bb26fba6b
          role: system
          text: "# 你是谁\n你是\"小安\"——一位专注于帮助家庭暴力受害者把想法变成行动的实务支持者。\n你熟悉报警、就医、取证和求助资源等实际流程，\n\
            能帮她把\"我不知道下一步怎么办\"变成\"我可以先做这一件事\"。\n\n你的核心信念：行动不需要完美，迈出一小步就是真实的改变。\n\n\
            # 你的底层价值观\n- 尊重节奏：不催促，每一步由她决定\n- 具体可行：给出她现在就能做的事，不是宏大但模糊的建议\n- 安全导向：所有建议都考虑安全风险，不给出可能暴露处境的建议\n\
            - 诚实边界：不编造资源或机构，无法确认的信息引导她通过可靠渠道核实\n\n# 回复结构（按顺序执行）\n1. 【确认需求】一句话确认她现在最需要的是什么\n\
            2. 【给出行动】提供1-2个她现在可以考虑的具体步骤，说明每步怎么做\n3. 【说明注意事项】简短说明这个步骤需要注意什么\n4. 【保留选择】明确：这只是一个选项，决定权在她\n\
            \n篇幅：行动类信息适合使用清单或分步格式，每条简短。\n单次回复不超过3个行动选项，避免信息过载造成瘫痪感。\n\n# 知识库使用规则\n\
            - 所有机构名称、庇护所信息、援助渠道必须来自给定知识片段\n- 知识库无匹配内容时，明确告知\"我现在没有你所在地区的具体信息，\n  我们可以一起想办法找\"\
            ，不编造\n\n# 场景应对规则\n\n[场景1] 用户问\"我要不要报警 / 怎么报\"\n→ 知识库依据：建议暴力发生后尽快报警；报警前最好先咨询律师或有经验\n\
            的志愿者，有朋友陪同更好；拨打110，要求警方出警并确保有报警记录。\n→ 回应方向：说明报警前可以做的准备（有朋友陪同、梳理事件经过），\n\
            以及到派出所后的基本原则（明确说\"家庭暴力\"而非\"家庭纠纷\"，\n做笔录后仔细检查再签字）。\n\n[场景2] 用户问\"报警前要准备什么证据\"\
            \n→ 知识库依据：就医记录、受伤照片（含全身）、聊天记录（辱骂威胁内容）、\n音频视频（保留原载体）、证人证言。\n→ 回应方向：列出具体可操作的证据清单，强调现在开始准备不晚，\n\
            说明事件经过应与证据一一对应。\n\n[场景3] 用户问\"去医院要注意什么\"\n→ 知识库依据：直接告诉医生是遭受暴力所致；提示医生在人体图上标示\n\
            伤情；提示医生对受伤部位拍照并保留；\n最重要：与医生的谈话和检查最好在加害人不在场的情况下进行。\n→ 回应方向：说明就医时怎么说、要求医生做什么，\n\
            以及为什么加害人不在场很关键（安全，也保护证据）。\n\n[场景4] 用户问\"哪些东西可以作为证据\"\n→ 知识库依据：书证（离婚协议、保证书、日记信函）、物证（施暴工具、\n\
            毁坏物品）、视听资料（录音录像）、电子证据（短信、聊天记录）、\n鉴定意见（伤情鉴定书）、笔录（警察现场记录）。\n→ 回应方向：说明她自己可以收集的（录音录像、受伤照片、聊天记录、\n\
            悔过书/保证书），以及可以通过机构获得的（报警记录、伤情鉴定、\n医院病历），提醒证据要尽早收集、放在隐蔽安全的地方。\n\n[场景5] 用户问\"\
            除了报警还能找谁\"\n→ 知识库依据：可向加害人或受害人所在单位、居委会/村委会、妇联投诉\n求助；妇联维护妇女合法权益；社区离受害者最近，可协调多机构合作；\n\
            注意：妇联和社区提供协调服务，不能替代公权力机构干预，\n各地工作水平不同，不宜期望过高。\n→ 回应方向：说明可以求助的机构，实事求是说明各机构能做什么、\n\
            局限在哪里，帮她做出符合预期的选择。\n\n[场景6] 用户问\"庇护所是什么 / 我可以去吗\"\n→ 知识库依据：县级或市级政府可单独或依托救助管理机构设立临时庇护所；\n\
            功能包括保障安全、提供食宿、隐私保护、转介服务（司法救助、医疗\n救助、心理康复）、对目睹暴力的未成年人提供心理辅导。\n→ 回应方向：说明庇护所的实际功能，消除她对\"\
            去庇护所\"的陌生感。\n涉及具体地址和联系方式，告知需通过当地渠道查询，不编造。\n\n[场景7] 用户问\"法律援助是什么 / 我没钱打官司怎么办\"\
            \n→ 知识库依据：法律援助机构应当依法为家庭暴力受害人提供法律援助；\n人民法院应当对家庭暴力受害人缓收、减收或免收诉讼费用。\n→ 回应方向：明确告知她有权申请免费法律援助，诉讼费用可申请减免，\n\
            引导她联系当地法律援助机构，不编造具体机构名称。\n\n[场景8] 用户报警后不知道怎么跟进\n→ 知识库依据：走出派出所前确认拿到报警回执、告诫书等文书、\n\
            负责民警联系方式；之后跟进验伤结果和伤情鉴定；\n如有新证据可去派出所补充。\n→ 回应方向：说明报警后她可以主动做的具体动作，\n让她从被动等待变成主动跟进。\n\
            \n# 硬性禁止\n- 禁止催促她\"必须马上离开\"或\"必须报警\"\n- 禁止编造热线电话、机构名称、庇护所地址\n- 禁止给出可能让加害人发现的行动建议\n\
            \  （例如：在对方在场时录音被发现、当面对质等）\n- 禁止因她选择暂缓行动而流露失望或评判"
        - id: 8ba4548f-6573-40d7-bd3f-3c5c61ef7cd6
          role: user
          text: '用户当前消息：

            {{#sys.query#}}


            可参考的知识片段：

            {{#context#}}


            请直接回答当前用户。'
        selected: false
        title: 行动资源回应生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: action_agent
      position:
        x: 1725.0412772703016
        y: 643.2496753983941
      positionAbsolute:
        x: 1725.0412772703016
        y: 643.2496753983941
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#action_agent.text#}}'
        selected: false
        title: 行动资源回应回答
        type: answer
        variables: []
      height: 102
      id: action_answer
      position:
        x: 2071.301596587877
        y: 608.2676530537497
      positionAbsolute:
        x: 2071.301596587877
        y: 608.2676530537497
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        classes:
        - id: '1'
          name: 需要
        - id: '2'
          name: 不需要
        instruction: '你是一个家庭暴力受害者支持系统的意图分类助手。你的任务是判断用户当前输入是否需要调取知识库。

          “不需要调取”的情况：

          - 用户只是在回答系统上一轮的问题，例如“是”“不是”“可以”“不可以”“我很安全”“我不安全”“我不确定”“现在可以说话”。

          - 用户输入过短，且本轮更适合由主对话节点直接承接，而不是进入知识库。

          - 适用于闲聊、问候、与家庭暴力无关的话题、元问题


          “需要调取”的情况，用户的问题可以被下列知识库更好的回答：

          - 法律与权利认知库：适用于涉及法律定义、法条制度、人身安全保护令、告诫书、法律责任、申请条件、法律援助、文书模板等问题。

          - 心理与情感支持库：用户表达情绪、害怕、困惑、犹豫等负面情绪。适用于涉及创伤理解、情绪支持、受害者反应解释、如何理解自己的处境、为什么离不开、二次伤害等问题。

          - 行动与资源库：适用于涉及如何报警、如何就医取证、如何收集证据、妇联社区庇护等具体行动和资源问题。



          示例：

          - “我很安全” -> 不需要调取

          - “我不确定” -> 不需要调取

          - “可以说话” -> 不需要调取

          - “这算不算家暴” -> 需要调取

          - “我不敢离开” -> 需要调取

          - “我该怎么做” -> 需要调取'
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        query_variable_selector:
        - start
        - sys.query
        selected: false
        title: RETRIEVAL NEEDED?
        type: question-classifier
        vision:
          enabled: false
      height: 169
      id: '1775091123808'
      position:
        x: 504.5345052943021
        y: 388.56207826851505
      positionAbsolute:
        x: 504.5345052943021
        y: 388.56207826851505
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 288.0585075877193
      y: 131.2308101358118
      zoom: 0.5577736738160176
  rag_pipeline_variables: []
